body, html {
    margin: 100;
    font-family: cursive;
}


.content {
    margin: 0 auto;
    width: 100%;
}

table, td, th {
    border: 1px solid #aaa;
	text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
	display: inline-block;

}

#content {
    width: 70%;
}