{% extends 'base.html' %}

{% block body %}
<p><h1 align="center">Delete Groceries</h1></p>
</br>

<p><h2 align="center">The following are options to remove rows from ALL databases:</h2></p></br>
<p align="center"> Groceries, </br>
    Grocery_Items,</br>
    Grocery_TEMP_Items,</br>
    Smart_Shopping,</br>
    Shopping_List_Settings,</br>
    Food_Expiry,</br>
    CurrentFood,</br>
</p>
<h1 align="center"><a href="/delete_all/"> Delete all </a></h1>
</br></br>


<p><h2 align="center">The following are options to remove all the rows individual databases</h1></p></br>

<hr>
<p><h3 align="center">Delete the Last Upload only</h1></p>
<p align="center"><a href="/delete_all_Grocery_TEMP_Items/">Temp Databases </a></p>
<hr>
<p><h3 align="center">Delete the Items Database only</h1></p>
<p align="center"><a href="/delete_all_items/">Items Database </a></p>
<hr>
<p><h3 align="center">Delete the Text Database only</h1></p>
<p align="center"><a href="/delete_all_groceries/">Text Database </a></p>
<hr>
<p><h3 align="center">Delete the Food Expiry Database only</h3></p>
<p align="center"><a href="/delete_food_expiry/">Food Expiry Database</a></p>

<hr>
</br></br>

</br></br>
</br></br>

    
{% endblock %}