{% extends 'base.html' %}

{% block body %}
<p><h1 align="center">Delete Groceries</h1></p>
</br>
<p><h2 align="center">There are three options to remove all the rows from databases</h1></p>

<hr>
<p><h3 align="center">Delete the Last Upload only</h1></p>
<p align="center"><a href="/delete_all_Grocery_TEMP_Items/">Temp Databases </a></p>
<hr>
<p><h3 align="center">Delete the Items Database only</h1></p>
<p align="center"><a href="/delete_all_items/">Items Database </a></p>
<hr>
<p><h3 align="center">Delete the Text Database only</h1></p>
<p align="center"><a href="/delete_all_groceries/">Text Database </a></p>
<hr>
<p><h3 align="center">Delete All Database</h1></p>
<p align="center"><a href="/delete_all/">All (Text, Item, and Last Upload) </a></p>
<hr>
</br></br>

</br></br>
</br></br>

    
{% endblock %}