{% extends 'base.html' %}


{% block body %}
<p>
    <h1 align="center">Food Expiry <br> Table </h1>
    <h2 align="center">Food in your Fridge </h2>
</p>

<div class="container">
<div class="row">
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
			<ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
</div>
</div>


{% if error %}
    <p style="color:red;">{{ error }}</p>

{% elif table_data %}
    <table border="1">
        <thead>
            <tr>
                <th>Item</th>
                <th>Classification</th>
                <th>Purchase Date</th>
                <th>EST Weeks</th>
                <th>Predicted Expiry</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table_data %}
            <tr>
                <td>{{ row.item }}</td>
                <td>{{ row.classification }}</td>
                <td>{{ row.purchase_date.strftime('%Y-%m-%d') }}</td>
                <td>{{ row.EST_WEEKS }}</td>
                <td>{{ row.predicted_expiry_date.strftime('%Y-%m-%d') }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No data found.</p>
{% endif %}

{% endblock %} <!--end body-->