{% extends 'base.html' %}


{% block body %}
<p><h1 align="center">Groceries<br>Items Database</h1></p>

<div class="container">
<div class="row">
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
			<ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
</div>
</div>
    
    {% if filename %}
        <div>
            <img src="{{ url_for('display_image', filename=filename) }}", width="500" height="600">
            <br><br>
        </div>
    {% endif %}



<div class="content">
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no items in the database.</h4>
        <div class="container" align="center">
            <button class="nice-button-green" onclick="window.location.href='/upload/'">Upload New Receipt</button>
        </div>


    {% else %}
        <h3 style="text-align: center">Table is ordered by the Date on Receipt</h3>


    <table>
        <tr>
            <th>ID</th>        
            <th>Groceries ID</th>        

            <th>Filename</th>        
            <th>Store Name</th>
			<th>Store Category</th>
			<th>Store Item</th>
			
			<th>My Category</th>
			<th>My Item</th>			
			
			<th>Price</th>
            <th>Date on Receipt</th>                
            <th>DateTime on Receipt</th>                

            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <th>{{task.id}}</th>            
                <th>{{task.groceries_id}}</th>            
                <th>{{task.filename}}</th>            
                <td>{{ task.storeName }}</td>
                <td>{{ task.storeCategory }}</td>                
                <td>{{ task.storeItem }}</td>

                <td>{{ task.myCategory }}</td>
                <td>{{ task.myItem }}</td>

                <td>{{ task.price }}</td>
                <td>{{ task.recepitDate.date().strftime('%Y-%m-%d') }}</td>
                <td>{{ task.recepitDate.time().strftime("%H:%M:%S") }}</td>
                
                <td>
                    <a href="/delete_item/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update_item/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}


{% endblock %}