
    <h4 style="text-align: center">Example Values!</h4>
    <p></p>    
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Store Category</th>      
          <th scope="col">Store Item</th>
          <th scope="col">My Category</th>
          <th scope="col">My Item</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Grocery</td>      
          <td>Kashi Go Lean</td>
          <td>Cereal</td> 
          <td>Kashi</td>           
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Produce</td>
          <td>HASS AVOCADO</td>      
          <td>Veggie</td>
          <td>bag of avocado</td>      
        </tr>
      </tbody>
    </table>
